files:
    "/opt/aws/aws-otel-collector/etc/config.yaml":
        mode: "000644"
        owner: root
        group: root
        content: |
            receivers:
                otlp:
                    protocols:
                        grpc:
                            endpoint: 0.0.0.0:4317
                        http:
                            endpoint: 0.0.0.0:4318
        
            exporters:
                awsxray:
                    region: ap-southeast-2
                awsemf:
                    region: ap-southeast-2
                    namespace: DigitalScholarshipSystem/Monolith
                    log_group_name: /aws/elasticbeanstalk/Cloudassigment-env/otel-metrics

            service:
                pipelines:
                    traces:
                        receivers: [otlp]
                        exporters: [awsxray]
                    metrics:
                        receivers: [otlp]
                        exporters: [awsemf]

commands:
    01_install_adot_collector:
        command: "rpm -Uvh https://aws-otel-collector.s3.amazonaws.com/amazon_linux/amd64/latest/aws-otel-collector.rpm"
        ignoreErrors: true

services:
    sysvinit:
        aws-otel-collector:
            enabled: true
            ensureRunning: true
            files:
                -   "/opt/aws/aws-otel-collector/etc/config.yaml"